.ui-datepicker-trigger {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  float: right;
  position: absolute;
  z-index: 3;
  margin-left: -24px;
  margin-top: 7px;
}
.level-2 {
  padding-left: 15px;
}
.level-3 {
  padding-left: 30px;
}
.pagination {
  margin: 0;
  margin-right: 15px;
}
.input-underline {
  border-top: none;
  border-left: none;
  border-right: none;
}
.class_icon_sort:not(.text-muted) {
  cursor: move;
}
table .no-data-row td {
  height: 300px;
}
table .delimiter-row td {
  height: 100px;
}
table td .small-input-field {
  width: 100px !important;
}
.nav-tabs-language li
{
  margin-right:15px;
}
.nav-tabs-language li div input
{
  margin-right:5px;
}

.text-paging
{
  margin-top:5px;
}

.page-header {
  z-index: 999;
}


div.panel.class_block_detail .panel-body
{
  padding: 0;
  padding-top: 15px;
}


.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.is-error {
  border:1px solid #FF0000;
}