@import import

html, body
	height: 100%
body
	// font-family: 'Kanit', sans-serif
	font-family: 'Prompt', Kanit
	// font-family: 'Mitr', sans-serif
	font-weight: normal
	padding-top: 5%

.fontEng
	font-family: Arial, Helvetica, sans-serif !important
a
	color: $main-text
	&:hover
		text-decoration: none
		color: $normal-text
	&.main
		color: $pink-text
		&:hover
			text-decoration: none
			color: $blue-text

a.blacklink
	color: black
	&:hover
		color: $main-text		
p
	color: $content-text

.orangeColor
	color: $main-text
.pinkColor
	color: $pink-text
.blueColor
	color: $blue-text

h1
	span
		color: $main-text
	&.main
		span
			color: $pink-text

.display-1
	font-weight: initial
	@include mq($max-width: 992px)
		font-size: 20vw
.display-2
	font-weight: initial
	@include mq($max-width: 992px)	
		font-size: 16.5vw
.display-3
	font-weight: initial
	@include mq($max-width: 992px)	
		font-size: 12.5vw

header
	background-color: #fff
.bgContent
	background-color: #fbfaf3	
@include mq($max-width: 992px)
	.bgContent
		padding-top: 20px
.bgReview
	background: url("../img/bg-review.png") no-repeat center top
	background-size: contain
	padding: 10% 0 15%
	margin-top: 2%
@include mq($max-width: 992px)
	.bgReview
		background: none
.bgWhite
	background: #fff
	+box-shadow(inset 0px, 5px, 7px, -5px, #999999)
.navbar
	padding: 0

.nav
	li
		a
			color: $normal-text
			&:hover				
				color: $main-text
		.active
			color: $main-text
	.language
		position: relative				
		a
			background-color: $main-text
			color: #fff
			padding: 35px 20px
			&:hover
				color: #fff
				background-color: #d85c20
		@include mq($max-width: 1440px)
			a
				padding: 30px 25px
		&.main
			a
				background-color: $pink-text		
				&:hover	
					background-color: $blue-text

		.dropdown-menu
			left: auto
			right: 0
			padding: 0
			margin: 0
			background-color: $main-text
			a
				text-align: center
				padding: 20px 15px

@include mq($max-width: 992px)
	.nav
		flex-direction: column

label
	a
		color: $main-text

.social
	position: fixed
	top: 45%
	left: 3.5%
	z-index: 2
	a
		color: #e86425
	&:hover
		color: #fff

footer	
	background-color: $main-text
	color: #fff
	&.main
		background-color: $pink-text
	a
		color: #fff
		&:hover
			color: #000
	p
		color: #fff

/* HACK */
.breadcrumb
	padding: 1rem
	background-color: transparent
	a
		color: #000000
		&:hover
			color: $main-text

.breadcrumb-item + .breadcrumb-item::before
	content: ">"
	
.form-control
	background-color: #e9e9e9
	border-color: transparent
	&.has-error
		border: 1px solid red
.input-group-text
	border-color: transparent
	background-color: #e9e9e9

.btn-primary
	background-color: $main-text
	border-color: $main-text
	&:hover
		background-color: $normal-text
		border-color: $normal-text

.btn-outline-primary
	color: $main-text
	background-color: tranparent
	border-color: $main-text
	&:hover
		color: #ffffff
		background-color: $main-text
		border-color: $main-text

.slick-prev:before, .slick-next:before
	color: $normal-text

.slick-dots li button:before
	font-size: 40px

.lifestyle-content
	position: absolute
	top: -90px
	right: 0
	z-index: 9
	@include mq($max-width: 992px)
		position: static

input[type="file"]
	background-color: #fff
	color: #333333
