=curve-bottom
    border-radius: 0 0 50% 50% / 5%
=curve-top
    border-radius: 50% 50% 0 0 / 5%
=background-top-top
	background: () no-repeat 0 0
=background-center-center
	background: () no-repeat center center
=background-right-center
	background: () no-repeat right center
=background-right-bottom
	background: () no-repeat right bottom
=svg_icon($id, $color) 
    $color-rgb: "rgb(" + red($color) + "%2C" + green($color) + "%2C" + blue($color) + ")"
    @if $id == creative
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='276' height='300' viewBox='0 0 276 300'%3E%3Cmetadata%3E%3C%3Fxpacket begin='﻿' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c140 79.160451, 2017/05/06-01:08:21 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %235ff4e8; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Forma_1' data-name='Forma 1' d='M917.013,1417.06a126.28,126.28,0,0,0-215.572,88.41l-22.98,46.04a4.415,4.415,0,0,0,1.669,5.75l21.307,12.81v67.95a4.406,4.406,0,0,0,4.395,4.41h42.484v33.17a4.4,4.4,0,1,0,8.791,0v-37.58a4.4,4.4,0,0,0-4.395-4.4H710.226v-66.05a4.4,4.4,0,0,0-2.134-3.77l-19.95-12,21.619-43.31a4.441,4.441,0,0,0,.465-1.97c0-64.91,52.706-117.71,117.491-117.71s117.492,52.8,117.492,117.71a117.132,117.132,0,0,1-45.191,92.78,4.426,4.426,0,0,0-1.689,3.47v72.83a4.4,4.4,0,1,0,8.791,0v-70.7A126.674,126.674,0,0,0,917.013,1417.06Zm-89.294,14.6a60.788,60.788,0,0,0-23.147,116.94v9.87H799.59a4.4,4.4,0,0,0-4.395,4.41v32.87a23.193,23.193,0,0,0,23.147,23.19h18.752a23.193,23.193,0,0,0,23.147-23.19v-32.87a4.4,4.4,0,0,0-4.4-4.41h-4.981v-9.87a60.42,60.42,0,0,0,26.116-20.73,4.4,4.4,0,0,0-7.135-5.14A51.688,51.688,0,0,1,845,1541.42a4.418,4.418,0,0,0-2.93,4.16v12.89H813.36v-12.89a4.418,4.418,0,0,0-2.93-4.16,51.877,51.877,0,1,1,67.514-36,4.4,4.4,0,1,0,8.513,2.19A60.824,60.824,0,0,0,827.719,1431.66Zm23.732,164.09a14.393,14.393,0,0,1-14.357,14.39H818.342a14.393,14.393,0,0,1-14.357-14.39v-0.31a2.845,2.845,0,0,0,.293.02h47.173v0.29Zm0-9.1H804.278a2.845,2.845,0,0,0-.293.02v-5.3h47.466v5.28Zm-4.981-19.37h4.981v5.28H803.985v-5.28H846.47Zm9.375-83.95H836.8v-23.78a4.429,4.429,0,0,0-7.7-2.9l-32.816,37.57a4.447,4.447,0,0,0,3.308,7.31h19.045v23.77a4.4,4.4,0,0,0,7.7,2.9l32.816-37.57A4.441,4.441,0,0,0,855.845,1483.33Zm-28.42,30.25v-16.46a4.4,4.4,0,0,0-4.395-4.4H809.276l18.735-21.45v16.46a4.4,4.4,0,0,0,4.395,4.4h13.755Zm0.293-105.4a4.4,4.4,0,0,0-4.395,4.4v9.4a4.4,4.4,0,1,0,8.79,0v-9.4A4.4,4.4,0,0,0,827.718,1408.18ZM781.1,1439.5l-6.63-6.65a4.4,4.4,0,1,0-6.215,6.23l6.629,6.64A4.4,4.4,0,1,0,781.1,1439.5Zm-23.7,48.52h-9.376a4.405,4.405,0,0,0,0,8.81H757.4A4.405,4.405,0,0,0,757.4,1488.02Zm23.7,51.11a4.389,4.389,0,0,0-6.216,0l-6.629,6.64a4.4,4.4,0,0,0,6.215,6.23l6.629-6.64A4.412,4.412,0,0,0,781.1,1539.13Zm106.076,6.64-6.629-6.64a4.4,4.4,0,1,0-6.215,6.23l6.629,6.64a4.376,4.376,0,0,0,6.523-.41A4.463,4.463,0,0,0,887.178,1545.77Zm20.236-57.75h-9.376a4.405,4.405,0,0,0,0,8.81h9.376A4.405,4.405,0,0,0,907.414,1488.02Zm-20.236-55.17a4.406,4.406,0,0,0-6.215,0l-6.629,6.65a4.451,4.451,0,0,0-.308,5.81,4.368,4.368,0,0,0,6.523.41l6.629-6.64A4.411,4.411,0,0,0,887.178,1432.85Z' transform='translate%28-678 -1380%29' fill='#{$color-rgb}'/%3E%3C/svg%3E%0A")
    @else if $id == design
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='161.969' height='164' viewBox='0 0 161.969 164'%3E%3Cmetadata%3E%3C%3Fxpacket begin='﻿' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c140 79.160451, 2017/05/06-01:08:21 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Shape_1_copy' data-name='Shape 1 copy' d='M466.242,2897.59l-3.657-2.47a2.518,2.518,0,0,0-2.807,0l-6.19,4.18-6.188-4.18a2.518,2.518,0,0,0-2.807,0l-6.19,4.18-6.188-4.18a2.518,2.518,0,0,0-2.807,0l-3.66,2.47v-56.71h-5.062v61.5a2.589,2.589,0,0,0,.747,1.81h0l22.778,23.07a2.51,2.51,0,0,0,3.579,0l22.778-23.07h-0.006a2.584,2.584,0,0,0,.747-1.81v-48.69h-5.062v43.9Zm-35.432,2.75,6.188,4.17a2.482,2.482,0,0,0,2.807,0l6.19-4.17,6.188,4.17a2.482,2.482,0,0,0,2.807,0l6.191-4.17,3.619,2.44-9.729,9.85H436.92l-9.729-9.85ZM446,2921.82l-4.014-4.06h8.028Zm-32.666-103.27a2.534,2.534,0,0,0-2.045-1.74l-7.334-1.09-3.283-6.73a2.618,2.618,0,0,0-4.538,0l-3.282,6.74-7.335,1.08a2.538,2.538,0,0,0-2.045,1.74,2.59,2.59,0,0,0,.641,2.63l5.309,5.24-1.252,7.4a2.6,2.6,0,0,0,1,2.51,2.5,2.5,0,0,0,2.668.19l6.563-3.49,6.562,3.49a2.484,2.484,0,0,0,1.18.3,2.546,2.546,0,0,0,1.488-.49,2.587,2.587,0,0,0,1-2.51l-1.253-7.4,5.31-5.24A2.6,2.6,0,0,0,413.329,2818.55Zm-10.435,5.14a2.582,2.582,0,0,0-.726,2.27l0.61,3.6-3.2-1.7a2.542,2.542,0,0,0-2.358,0l-3.2,1.7,0.61-3.6a2.579,2.579,0,0,0-.726-2.27l-2.589-2.56,3.578-.53a2.522,2.522,0,0,0,1.906-1.4l1.6-3.28,1.6,3.28a2.522,2.522,0,0,0,1.906,1.4l3.579,0.53Zm7.838-37.56-1.566,9.25a2.6,2.6,0,0,0,1,2.51,2.5,2.5,0,0,0,2.667.19l8.2-4.37,8.2,4.37a2.473,2.473,0,0,0,1.18.29,2.535,2.535,0,0,0,1.488-.48,2.587,2.587,0,0,0,1-2.51l-1.567-9.25,6.641-6.56a2.594,2.594,0,0,0,.641-2.63,2.55,2.55,0,0,0-2.045-1.74l-9.172-1.35-4.1-8.42a2.618,2.618,0,0,0-4.538,0l-4.1,8.42-9.177,1.35a2.553,2.553,0,0,0-2.045,1.74,2.59,2.59,0,0,0,.641,2.63Zm5.986-7.4a2.534,2.534,0,0,0,1.906-1.41l2.422-4.96,2.424,4.96a2.534,2.534,0,0,0,1.906,1.41l5.416,0.8-3.92,3.87a2.56,2.56,0,0,0-.726,2.26l0.924,5.47-4.845-2.58a2.469,2.469,0,0,0-2.359,0l-4.844,2.58,0.924-5.47a2.571,2.571,0,0,0-.726-2.26l-3.921-3.87Zm63.991,23.87,10.437-10.3a2.58,2.58,0,0,0,.64-2.62,2.543,2.543,0,0,0-2.044-1.75l-14.421-2.12-6.452-13.23a2.617,2.617,0,0,0-4.537,0l-6.452,13.23-14.421,2.12a2.572,2.572,0,0,0-1.4,4.37l10.437,10.3-2.465,14.55a2.6,2.6,0,0,0,1,2.51,2.5,2.5,0,0,0,2.667.19l12.9-6.87,12.9,6.87a2.483,2.483,0,0,0,1.179.3,2.549,2.549,0,0,0,1.489-.49,2.585,2.585,0,0,0,1-2.51Zm-4.487-2.73a2.592,2.592,0,0,0-.727,2.27l1.822,10.76-9.538-5.08a2.469,2.469,0,0,0-2.359,0l-9.539,5.08,1.822-10.76a2.591,2.591,0,0,0-.726-2.27l-7.717-7.61,10.663-1.57a2.534,2.534,0,0,0,1.906-1.41l4.77-9.78,4.771,9.78a2.53,2.53,0,0,0,1.9,1.41l10.663,1.57ZM509.6,2831.2l-6.416-.94-2.873-5.89a2.617,2.617,0,0,0-4.537,0l-2.87,5.89-6.419.94a2.553,2.553,0,0,0-2.045,1.74,2.59,2.59,0,0,0,.641,2.63l4.646,4.59-1.1,6.47a2.6,2.6,0,0,0,1,2.51,2.533,2.533,0,0,0,1.488.48,2.478,2.478,0,0,0,1.179-.29l5.74-3.05,5.74,3.05a2.5,2.5,0,0,0,2.668-.19,2.587,2.587,0,0,0,1-2.51l-1.1-6.47,4.644-4.59a2.6,2.6,0,0,0,.64-2.63A2.545,2.545,0,0,0,509.6,2831.2Zm-7.727,6.23a2.56,2.56,0,0,0-.726,2.26l0.452,2.69-2.376-1.27a2.544,2.544,0,0,0-2.359,0l-2.376,1.27,0.455-2.69a2.569,2.569,0,0,0-.726-2.26l-1.926-1.9,2.66-.39a2.534,2.534,0,0,0,1.906-1.41l1.189-2.44,1.192,2.44a2.534,2.534,0,0,0,1.906,1.41l2.66,0.39ZM438.4,2858.82h5.061c0-18.37-13.623-33.32-30.37-33.32v5.13C427.049,2830.63,438.4,2843.28,438.4,2858.82Zm15.185,12.81h5.062c0-18.06,8.114-33.31,17.716-33.31v-5.13C463.592,2833.19,453.588,2850.08,453.588,2871.63Zm-20.247-43.56H438.4c0-5.66,3.406-10.25,7.592-10.25v-5.13C439.018,2812.69,433.341,2819.59,433.341,2828.07ZM415.625,2805c4.186,0,7.592,4.6,7.592,10.25h5.062c0-8.48-5.676-15.37-12.654-15.37V2805Zm53.148,20.5v-5.12c-12.56,0-22.778,11.49-22.778,25.62h5.062C451.057,2834.7,459.007,2825.5,468.773,2825.5Zm-15.185,51.25h5.062v5.13h-5.062v-5.13ZM446,2851.13h5.062v5.12H446v-5.12Zm-7.592,12.81h5.061v5.13H438.4v-5.13Zm0,10.25h5.061v5.13H438.4v-5.13Zm0,10.25h5.061v5.13H438.4v-5.13Zm-43.025-43.56h5.061V2846h-5.061v-5.12ZM365.007,2805h5.062v5.13h-5.062V2805Zm20.247-10.25h5.062v5.13h-5.062v-5.13Zm103.766,12.82h5.062v5.12H489.02v-5.12Zm27.84-17.94h5.061v5.12H516.86v-5.12Zm-141.729-12.81h5.061v5.12h-5.061v-5.12Zm17.716-2.57h5.062v5.13h-5.062v-5.13Zm93.642-2.56h5.062v5.13h-5.062v-5.13Zm15.186,20.5h5.061v5.13h-5.061v-5.13ZM375.131,2825.5h-5.062v5.13h-5.062v5.12h5.062v5.13h5.062v-5.13h5.061v-5.12h-5.061v-5.13Zm144.26-20.5h-5.062v5.13h-5.062v5.12h5.062v5.13h5.062v-5.13h5.061v-5.12h-5.061V2805Zm0-41a7.691,7.691,0,1,0,7.592,7.69A7.651,7.651,0,0,0,519.391,2764Zm0,10.25a2.56,2.56,0,1,1,2.53-2.56A2.549,2.549,0,0,1,519.391,2774.25Z' transform='translate%28-365 -2764%29' fill='#{$color-rgb}'/%3E%3C/svg%3E%0A")
    @else if $id == prototype
    	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 47.969 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cmetadata%3E%3Cx:xmpmeta x:xmptk='Adobe XMP Core 5.6-c140 79.160451, 2017/05/06-01:08:21 ' xmlns:x='adobe:ns:meta/'%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E.cls-1 %7B fill: %23e06db0; fill-rule: evenodd; %7D%3C/style%3E%3C/defs%3E%3Cpath transform='translate%28-696 -2823%29' d='m736.18 2836.4-15.759-9.07a0.807 0.807 0 0 0-0.847 0l-15.759 9.07a0.843 0.843 0 0 0-0.424 0.73v18.51a0.859 0.859 0 0 0 0.423 0.74l15.757 9.07a0.807 0.807 0 0 0 0.847 0l15.76-9.07a0.843 0.843 0 0 0 0.423-0.73v-18.52a0.843 0.843 0 0 0-0.421-0.73zm-17.03 26.86-14.063-8.1v-16.57l14.066 8.1v16.57zm0.848-18.03-14.066-8.1 14.066-8.1 14.064 8.1zm0.846 18.03v-16.57l14.064-8.1v16.57zm23.039-30.79a0.855 0.855 0 0 0-1.157-0.31l-3.038 1.75a23.268 23.268 0 0 0-39.38 0l-3.038-1.75a0.855 0.855 0 0 0-1.157 0.31 0.839 0.839 0 0 0 0.31 1.15l3.035 1.75a23.164 23.164 0 0 0 19.692 34.02v2.8a0.847 0.847 0 1 0 1.694 0v-2.8a23.247 23.247 0 0 0 22.4-23.17 22.98 22.98 0 0 0-2.709-10.85l3.036-1.75a0.839 0.839 0 0 0 0.312-1.15zm-2.331 13.75a21.554 21.554 0 1 1-21.554-21.49 21.555 21.555 0 0 1 21.554 21.49z' fill='#{$color-rgb}'/%3E%3C/svg%3E%0A")
    @else if $id == commercial
    	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='285' height='251' viewBox='0 0 285 251'%3E%3Cmetadata%3E%3C%3Fxpacket begin='﻿' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c140 79.160451, 2017/05/06-01:08:21 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %235ff4e8; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath d='M1120.38,1429H896.617A30.667,30.667,0,0,0,866,1459.64v47.87a33.7,33.7,0,0,0,19.214,30.4v135.68a6.407,6.407,0,0,0,6.4,6.41H1125.38a6.41,6.41,0,0,0,6.41-6.41V1537.91a33.688,33.688,0,0,0,19.21-30.4v-47.87A30.664,30.664,0,0,0,1120.38,1429Zm-78.26,12.82h41.63v65.69a20.815,20.815,0,1,1-41.63,0v-65.69h0Zm-54.435,0h41.625v65.69a20.813,20.813,0,1,1-41.625,0v-65.69Zm-54.438,0h41.63v65.69a20.815,20.815,0,1,1-41.629,0v-65.69h0Zm-36.6,86.3a0.875,0.875,0,0,1-.16-0.02c-0.439-.06-0.875-0.15-1.309-0.24-0.136-.03-0.271-0.06-0.4-0.1q-0.519-.12-1.032-0.27a20.869,20.869,0,0,1-14.934-19.98v-47.87a17.838,17.838,0,0,1,17.808-17.82h23.821v65.69a20.843,20.843,0,0,1-20.814,20.83c-0.465,0-.926-0.02-1.387-0.05l-0.362-.03C897.465,1528.23,897.055,1528.18,896.648,1528.12Zm190.622,139.06h-14.62v-58.37a6.405,6.405,0,1,0-12.81,0v58.37h-14.62v-97.69h42.05v97.69h0Zm31.71,0h-18.9v-104.1a6.408,6.408,0,0,0-6.4-6.41h-54.87a6.4,6.4,0,0,0-6.4,6.41v104.1H898.022V1541.12c0.533,0.03,1.067.04,1.6,0.04q0.97,0,1.926-.06c0.2-.01.4-0.03,0.607-0.04l1.3-.12,0.686-.09c0.409-.06.815-0.12,1.218-0.19l0.667-.12c0.434-.08.863-0.18,1.29-0.28l0.536-.12c0.6-.16,1.2-0.32,1.785-0.51a0.972,0.972,0,0,0,.159-0.05c0.532-.17,1.06-0.35,1.581-0.55l0.545-.21q0.587-.24,1.163-0.48c0.2-.09.4-0.18,0.6-0.28,0.368-.17.732-0.34,1.092-0.53,0.189-.09.377-0.19,0.563-0.29,0.4-.21.786-0.43,1.173-0.65,0.137-.08.277-0.16,0.412-0.24,0.52-.31,1.032-0.64,1.533-0.98,0.076-.05.149-0.11,0.224-0.16q0.631-.435,1.243-0.9c0.157-.12.309-0.24,0.463-0.36q0.483-.39.953-0.78c0.165-.14.328-0.28,0.491-0.43,0.3-.26.6-0.53,0.888-0.81,0.15-.14.3-0.28,0.451-0.43,0.324-.32.641-0.65,0.952-0.98,0.1-.11.206-0.21,0.3-0.32,0.406-.44.8-0.9,1.183-1.36,0.084-.1.162-0.21,0.246-0.32,0.293-.36.581-0.73,0.859-1.11,0.041-.06.086-0.11,0.128-0.17,0.041,0.06.085,0.11,0.127,0.17,0.278,0.38.566,0.75,0.859,1.11,0.084,0.11.163,0.22,0.247,0.32,0.381,0.46.776,0.92,1.182,1.36,0.1,0.11.2,0.21,0.3,0.32,0.312,0.33.628,0.66,0.952,0.98,0.148,0.15.3,0.29,0.451,0.43q0.437,0.42.888,0.81c0.162,0.15.326,0.29,0.49,0.43,0.312,0.26.631,0.52,0.953,0.78,0.154,0.12.307,0.24,0.463,0.36q0.611,0.465,1.243.9c0.076,0.05.148,0.11,0.224,0.16,0.5,0.34,1.013.67,1.533,0.98,0.135,0.08.275,0.16,0.412,0.24,0.387,0.22.776,0.44,1.173,0.65,0.186,0.1.375,0.2,0.563,0.29,0.36,0.19.724,0.36,1.092,0.53,0.2,0.1.4,0.19,0.6,0.28,0.383,0.16.772,0.32,1.164,0.48l0.544,0.21c0.521,0.2,1.048.38,1.581,0.55a0.972,0.972,0,0,0,.159.05c0.588,0.19,1.184.35,1.785,0.51l0.536,0.12c0.427,0.1.856,0.2,1.29,0.28l0.667,0.12c0.4,0.07.809,0.13,1.218,0.19l0.686,0.09,1.3,0.12c0.2,0.01.4,0.03,0.607,0.04q0.957,0.06,1.926.06c0.647,0,1.287-.02,1.925-0.06,0.2-.01.4-0.03,0.608-0.04l1.3-.12,0.686-.09c0.408-.06.815-0.12,1.218-0.19l0.667-.12c0.433-.08.862-0.18,1.289-0.28l0.536-.12c0.6-.16,1.2-0.32,1.785-0.51a0.972,0.972,0,0,0,.159-0.05c0.533-.17,1.061-0.35,1.582-0.55l0.544-.21q0.586-.24,1.164-0.48c0.2-.09.4-0.18,0.6-0.28,0.367-.17.731-0.34,1.092-0.53,0.188-.09.377-0.19,0.562-0.29,0.4-.21.786-0.43,1.173-0.65l0.413-.24c0.52-.31,1.032-0.64,1.533-0.98,0.075-.05.148-0.11,0.224-0.16q0.632-.435,1.242-0.9c0.157-.12.31-0.24,0.464-0.36q0.483-.39.952-0.78c0.166-.14.329-0.28,0.492-0.43q0.451-.39.887-0.81c0.151-.14.3-0.28,0.451-0.43,0.325-.32.642-0.65,0.953-0.98,0.1-.11.205-0.21,0.305-0.32,0.406-.44.8-0.9,1.182-1.36,0.084-.1.163-0.21,0.246-0.31,0.293-.37.581-0.74,0.86-1.12,0.041-.06.086-0.11,0.127-0.16,0.041,0.05.086,0.1,0.128,0.16,0.277,0.38.566,0.75,0.859,1.12,0.084,0.1.162,0.21,0.246,0.31,0.382,0.46.776,0.92,1.182,1.36,0.1,0.11.205,0.21,0.305,0.32,0.312,0.33.628,0.66,0.953,0.98,0.148,0.15.3,0.29,0.45,0.43q0.437,0.42.889,0.81c0.161,0.15.324,0.29,0.489,0.43q0.47,0.39.953,0.78c0.154,0.12.307,0.24,0.464,0.36q0.61,0.465,1.242.9c0.076,0.05.149,0.11,0.224,0.16,0.5,0.34,1.013.67,1.533,0.98l0.413,0.24c0.386,0.22.776,0.44,1.173,0.65,0.186,0.1.374,0.2,0.562,0.29,0.361,0.19.724,0.36,1.092,0.53,0.2,0.1.4,0.19,0.6,0.28,0.384,0.16.773,0.32,1.164,0.48l0.544,0.21c0.522,0.2,1.048.38,1.582,0.55l0.159,0.06c0.587,0.18,1.183.34,1.784,0.5l0.54,0.12c0.42,0.1.85,0.2,1.29,0.28l0.66,0.12c0.41,0.07.81,0.13,1.22,0.19l0.69,0.09c0.43,0.05.86,0.08,1.3,0.12,0.2,0.01.4,0.03,0.61,0.04,0.63,0.04,1.28.06,1.92,0.06s1.29-.02,1.93-0.06c0.2-.01.4-0.03,0.6-0.04,0.44-.04.88-0.07,1.31-0.12l0.68-.09c0.41-.06.82-0.12,1.22-0.19l0.67-.12c0.43-.08.86-0.18,1.29-0.28,0.18-.04.36-0.08,0.53-0.12,0.61-.16,1.2-0.32,1.79-0.5,0.05-.02.1-0.04,0.16-0.06,0.53-.17,1.06-0.35,1.58-0.55l0.54-.21,1.17-.48c0.2-.09.4-0.18,0.59-0.28,0.37-.17.74-0.34,1.1-0.53,0.18-.09.37-0.19,0.56-0.29,0.39-.21.78-0.43,1.17-0.65,0.14-.08.28-0.16,0.41-0.24,0.52-.31,1.04-0.64,1.54-0.98l0.22-.16c0.42-.29.84-0.59,1.24-0.9,0.16-.12.31-0.24,0.47-0.36,0.32-.26.64-0.52,0.95-0.78,0.16-.14.33-0.28,0.49-0.43,0.3-.26.6-0.53,0.89-0.81,0.15-.14.3-0.28,0.45-0.43,0.32-.32.64-0.65,0.95-0.98,0.1-.11.21-0.21,0.31-0.32,0.4-.44.8-0.9,1.18-1.36,0.08-.1.16-0.21,0.25-0.31,0.29-.37.58-0.74,0.85-1.12a1.826,1.826,0,0,0,.13-0.16c0.04,0.05.09,0.1,0.13,0.16,0.28,0.38.57,0.75,0.86,1.12,0.08,0.1.16,0.21,0.24,0.31,0.39,0.46.78,0.92,1.19,1.36,0.1,0.11.2,0.21,0.3,0.32,0.31,0.33.63,0.66,0.95,0.98,0.15,0.15.3,0.29,0.45,0.43,0.3,0.28.59,0.55,0.89,0.81l0.49,0.43c0.32,0.26.63,0.52,0.96,0.78,0.15,0.12.3,0.24,0.46,0.36,0.41,0.31.82,0.61,1.24,0.9,0.08,0.05.15,0.11,0.23,0.16,0.5,0.34,1.01.67,1.53,0.98,0.13,0.08.27,0.16,0.41,0.24,0.39,0.22.78,0.45,1.17,0.66,0.19,0.09.38,0.19,0.57,0.28,0.36,0.19.72,0.36,1.09,0.54l0.6,0.27c0.38,0.17.77,0.32,1.16,0.48,0.18,0.07.36,0.15,0.54,0.21,0.53,0.2,1.05.38,1.59,0.55l0.15,0.06c0.59,0.18,1.19.35,1.79,0.5,0.18,0.04.36,0.08,0.53,0.12,0.43,0.1.86,0.2,1.3,0.28l0.66,0.12c0.41,0.07.81,0.13,1.22,0.19l0.69,0.09c0.43,0.05.86,0.08,1.3,0.12,0.2,0.01.4,0.03,0.61,0.04q0.945,0.06,1.92.06c0.65,0,1.29-.02,1.93-0.06,0.2-.01.4-0.03,0.6-0.04,0.44-.04.87-0.07,1.31-0.12l0.68-.09c0.41-.06.82-0.12,1.22-0.19l0.67-.12c0.43-.08.86-0.18,1.29-0.28,0.18-.04.36-0.08,0.53-0.12,0.6-.15,1.2-0.32,1.79-0.5,0.05-.02.1-0.04,0.16-0.06,0.53-.17,1.06-0.35,1.58-0.55l0.54-.21,1.17-.48c0.2-.09.4-0.18,0.59-0.27,0.37-.18.73-0.35,1.1-0.54,0.18-.09.37-0.19,0.56-0.28l1.17-.66c0.14-.08.28-0.16,0.41-0.24,0.52-.31,1.04-0.64,1.54-0.98,0.07-.05.14-0.11,0.22-0.16,0.42-.29.84-0.59,1.24-0.9,0.16-.12.31-0.24,0.47-0.36,0.32-.26.64-0.51,0.95-0.78,0.16-.14.33-0.28,0.49-0.43,0.3-.26.6-0.53,0.89-0.81,0.15-.14.3-0.28,0.45-0.43,0.32-.32.64-0.65,0.95-0.98,0.1-.11.21-0.21,0.31-0.32,0.4-.44.8-0.9,1.18-1.36,0.08-.1.16-0.21,0.24-0.31,0.3-.37.58-0.74,0.86-1.12l0.13-.16,0.13,0.16c0.28,0.38.56,0.75,0.86,1.12,0.08,0.1.16,0.21,0.24,0.31,0.39,0.46.78,0.92,1.19,1.36,0.1,0.11.2,0.21,0.3,0.32,0.31,0.33.63,0.66,0.95,0.98,0.15,0.15.3,0.29,0.45,0.43,0.29,0.28.59,0.55,0.89,0.81,0.16,0.15.33,0.29,0.49,0.43,0.31,0.27.63,0.52,0.96,0.78,0.15,0.12.3,0.24,0.46,0.36,0.41,0.31.82,0.61,1.24,0.9,0.08,0.05.15,0.11,0.22,0.16,0.51,0.34,1.02.67,1.54,0.98,0.13,0.08.27,0.16,0.41,0.24q0.585,0.345,1.17.66c0.19,0.09.38,0.19,0.57,0.29,0.36,0.18.72,0.36,1.09,0.53,0.2,0.09.39,0.18,0.59,0.27q0.585,0.255,1.17.48c0.18,0.07.36,0.15,0.54,0.21,0.52,0.2,1.05.38,1.58,0.55,0.06,0.02.11,0.04,0.16,0.06,0.59,0.18,1.19.35,1.79,0.5,0.18,0.04.36,0.08,0.53,0.12,0.43,0.1.86,0.2,1.29,0.28,0.23,0.04.45,0.08,0.67,0.12,0.4,0.07.81,0.13,1.22,0.19l0.69,0.09c0.43,0.05.86,0.08,1.3,0.12,0.2,0.01.4,0.03,0.6,0.04,0.64,0.04,1.28.06,1.93,0.06,0.54,0,1.07-.01,1.6-0.04v126.06h0Zm19.21-159.67a20.868,20.868,0,0,1-14.93,19.98c-0.34.1-.69,0.19-1.03,0.27-0.14.04-.27,0.07-0.41,0.1-0.43.09-.87,0.18-1.31,0.24a0.875,0.875,0,0,1-.16.02c-0.41.06-.82,0.11-1.23,0.14l-0.36.03c-0.46.03-.92,0.05-1.38,0.05a20.852,20.852,0,0,1-20.82-20.83v-65.69h23.82a17.839,17.839,0,0,1,17.81,17.82v47.87h0Zm-137,49.16H923.378a6.408,6.408,0,0,0-6.405,6.41v49.15a6.408,6.408,0,0,0,6.405,6.41h77.812a6.41,6.41,0,0,0,6.41-6.41v-49.15A6.41,6.41,0,0,0,1001.19,1556.67Zm-6.4,49.15H929.782v-36.33h65.006v36.33Zm77.742-19.42a6.848,6.848,0,0,0-.37-1.19,6.192,6.192,0,0,0-.59-1.11,6.335,6.335,0,0,0-.8-0.98,6.2,6.2,0,0,0-.97-0.79,6.489,6.489,0,0,0-2.3-.96,6.426,6.426,0,0,0-2.51,0,6.085,6.085,0,0,0-1.19.37,5.87,5.87,0,0,0-1.11.59,6.778,6.778,0,0,0-.98.79,6.276,6.276,0,0,0-.79.98,6.192,6.192,0,0,0-.59,1.11,6.059,6.059,0,0,0-.36,1.19,5.991,5.991,0,0,0-.13,1.26,5.806,5.806,0,0,0,.13,1.24,6.19,6.19,0,0,0,.95,2.31,6.276,6.276,0,0,0,.79.98,6.778,6.778,0,0,0,.98.79,6.192,6.192,0,0,0,1.11.59,6.848,6.848,0,0,0,1.19.37,6.631,6.631,0,0,0,1.25.13,6.736,6.736,0,0,0,1.26-.13,7.869,7.869,0,0,0,1.2-.37,6.86,6.86,0,0,0,1.1-.59,6.2,6.2,0,0,0,.97-0.79,6.335,6.335,0,0,0,.8-0.98,6.459,6.459,0,0,0,.59-1.1,7.345,7.345,0,0,0,.37-1.21,6.512,6.512,0,0,0,.12-1.24A6.641,6.641,0,0,0,1072.53,1586.4Zm-87.793,42.72H922.1a6.41,6.41,0,0,0,0,12.82h62.642A6.41,6.41,0,0,0,984.737,1629.12Zm27.413,5.15a6.367,6.367,0,0,0-.36-1.2,7.249,7.249,0,0,0-.59-1.1,5.805,5.805,0,0,0-.8-0.98,6.2,6.2,0,0,0-.97-0.79,6.641,6.641,0,0,0-2.31-.96,6.57,6.57,0,0,0-2.5,0,7.235,7.235,0,0,0-1.2.37,6.459,6.459,0,0,0-1.1.59,6.778,6.778,0,0,0-.98.79,5.805,5.805,0,0,0-.8.98,6.807,6.807,0,0,0-.585,1.1,6.612,6.612,0,0,0-.365,1.2,6.332,6.332,0,0,0-.122,1.26,6.35,6.35,0,0,0,.487,2.44,6.508,6.508,0,0,0,.585,1.11,7.6,7.6,0,0,0,.8.98,6.778,6.778,0,0,0,.98.79,6.459,6.459,0,0,0,1.1.59,7.235,7.235,0,0,0,1.2.37,6.631,6.631,0,0,0,1.25.13,6.547,6.547,0,0,0,1.25-.13,6.641,6.641,0,0,0,2.31-.96,6.694,6.694,0,0,0,.97-0.79,6.23,6.23,0,0,0,.8-0.98,6.9,6.9,0,0,0,.59-1.11,5.953,5.953,0,0,0,.36-1.2,6.527,6.527,0,0,0,.13-1.24A6.65,6.65,0,0,0,1012.15,1634.27Z' fill='#{$color-rgb}' transform='translate%28-866 -1429%29'/%3E%3C/svg%3E%0A");
    @else if $id == upscale
    	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 49.781 49.94' xmlns='http://www.w3.org/2000/svg'%3E%3Cmetadata%3E%3Cx:xmpmeta x:xmptk='Adobe XMP Core 5.6-c140 79.160451, 2017/05/06-01:08:21 ' xmlns:x='adobe:ns:meta/'%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E.cls-1 %7B fill: %23ef8c3f; fill-rule: evenodd; %7D%3C/style%3E%3C/defs%3E%3Cpath transform='translate%28-931.72 -2940%29' d='m956.61 2983.7a18.486 18.486 0 0 1-12.046-4.44l5.209-5.23-2.2-2.2-12.746 12.78v-4.03h-3.112v9.36h9.336v-3.12h-4.024l5.337-5.35a21.7 21.7 0 0 0 24.165 2.96l-1.416-2.78a18.375 18.375 0 0 1-8.503 2.05zm-21.783-38.38 5.337 5.35a21.887 21.887 0 0 0-2.957 24.25l2.77-1.42a18.784 18.784 0 0 1 2.387-20.62l5.209 5.23 2.2-2.21-12.746-12.79h4.024v-3.12h-9.336v9.37h3.112v-4.04zm14.946 14.99 2.2-2.2 2.2 2.2-2.2 2.21zm22.4-20.32v3.12h4.024l-5.337 5.36a21.682 21.682 0 0 0-24.165-2.97l1.416 2.78a18.622 18.622 0 0 1 20.549 2.39l-5.209 5.23 2.2 2.21 12.746-12.79v4.04h3.105v-9.37h-9.336zm-10.924 22.53-2.2-2.21 2.2-2.2 2.2 2.2zm-9.272 9.31-2.2-2.21 2.2-2.21 2.2 2.21zm26.42 12.78-5.337-5.35a21.885 21.885 0 0 0 2.956-24.25l-2.769 1.43a18.774 18.774 0 0 1-2.387 20.61l-5.209-5.22-2.2 2.2 12.746 12.79h-4.024v3.12h9.329v-9.36h-3.112v4.03zm-14.946-14.99-2.2 2.2-2.2-2.2 2.2-2.21z' fill='#{$color-rgb}' data-name='Forma 1'/%3E%3C/svg%3E%0A")
    @else if $id == network 
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='237' height='201.03' viewBox='0 0 237 201.03'%3E%3Cmetadata%3E%3C%3Fxpacket begin='﻿' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c140 79.160451, 2017/05/06-01:08:21 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %235ff4e8; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Forma_1' data-name='Forma 1' d='M399.07,1527.07l-30.735-17.54,10.474-1.32c6.835-.68,9.937-5.74,9.926-10.17a9.96,9.96,0,0,0-9.177-10.05c-33.787-3.74-35.88-4.5-42.32-2.8-0.045.01-5.78,1.56-5.779,1.56-3.349.9-11.2-4.84-13.467-5.84a13.148,13.148,0,0,0-6.3-1.92,8.993,8.993,0,0,0-7.655,4.27c-9.313,16.3-6.047,10.65-15.272,26.43-3.6,6.17-1.235,11.77,3.076,14.19h0s0.888,0.51.891,0.51c5.681,3.62,10.366,4.81,11.947,8.62l1.858,5.85c0.826,2.59,3.521,6.32,8.079,8.91,48.094,27.39,45.05,26.29,48.8,26.29a10.159,10.159,0,0,0,9.96-8l2.176,1.24a10.194,10.194,0,0,0,15.188-7.64c8.595,0.79,14.292-8.79,9.244-15.82A9.943,9.943,0,0,0,399.07,1527.07Zm-6.788,11.33L357.9,1518.79a3.5,3.5,0,0,0-4.754,1.25,3.42,3.42,0,0,0,1.274,4.7c42.654,24.33,39.91,22.4,40.372,24.1a3.2,3.2,0,0,1-4.7,3.56c-2.915-1.66-33.078-18.86-38.88-22.17a3.5,3.5,0,0,0-4.753,1.25,3.419,3.419,0,0,0,1.273,4.7l34.5,19.68h0a3.166,3.166,0,0,1-1.61,5.91c-1.139,0-.628.12-12.125-6.43h0s0,0,0-.01l-23.972-13.67a3.506,3.506,0,0,0-4.753,1.26,3.408,3.408,0,0,0,1.273,4.69c0,0.01,23.978,13.68,23.981,13.68a3.147,3.147,0,0,1,1.165,4.32,3.226,3.226,0,0,1-4.37,1.15c-47.061-26.84,8.853,5-43.736-24.94-5.313-3.03-5.024-5.94-6.836-11.07a14.868,14.868,0,0,0-6.406-7.39c-13.092-7.45-5.835-3.33-9.543-5.44-1.889-1.06-1.594-2.94-.512-4.79,9.242-15.82,5.978-10.17,15.263-26.42,2.87-4.11,13.531,9.29,23.237,6.67,14.448-3.9,7.486-2.24,45.59,1.46a3.11,3.11,0,0,1,2.893,3.22c0.006,2.18-1.632,3.05-3.8,3.32l-20.75,2.63a3.433,3.433,0,0,0-1.3,6.39c43.279,24.68,40.688,22.8,41.164,24.53A3.185,3.185,0,0,1,392.282,1538.4Zm130.656-27.2a2.279,2.279,0,0,0-.134-0.25c-1.18-1.98-4.8-7.92-15.808-26.75-2.915-4.99-8.317-6.4-13.762-3.59a0.776,0.776,0,0,0-.129.07l-0.547.31c-0.064.03-.124,0.07-0.171,0.09l-4.927,2.82a3.408,3.408,0,0,0-1.271,4.69,3.5,3.5,0,0,0,4.754,1.26c6.078-3.47,8.216-5.31,10.026-2.22,9.558,16.36,6.318,10.88,15.187,25.72,1.877,3.18.952,3.67-4.451,6.67-12.144,6.76-11.392,8.13-13.747,16.85-2.133,6.94-6.4,10.27-22.561,32.6a3.172,3.172,0,0,1-4.27.87c-1.9-1.08-1.867-2.9-1.016-4.92l8.073-19.06a3.469,3.469,0,0,0-4.95-4.31c-43.02,24.54-40.291,23.42-42.091,22.95a3.142,3.142,0,0,1-.765-5.77l34.517-19.69a3.41,3.41,0,0,0,1.274-4.69,3.5,3.5,0,0,0-4.753-1.26c-46.319,26.42-19.878,11.33-38.882,22.17a3.223,3.223,0,0,1-4.378-1.15,3.15,3.15,0,0,1,1.173-4.33c6.437-3.67,34.973-19.95,38.88-22.18a3.409,3.409,0,0,0,1.273-4.69,3.5,3.5,0,0,0-4.753-1.26l-34.5,19.68a3.234,3.234,0,0,1-4.377-1.16,3.138,3.138,0,0,1,1.174-4.32c18.113-10.33,10.7-6.1,34.5-19.68a3.419,3.419,0,0,0,1.274-4.7,3.506,3.506,0,0,0-4.753-1.26l-23.982,13.68a3.218,3.218,0,0,1-4.363-1.16,3.135,3.135,0,0,1,1.172-4.31c59.487-33.94-15.781,9.05,43.736-24.95a11.106,11.106,0,0,1,6.977-1.67l0.618,0.14a3.487,3.487,0,0,0,4.154-2.61,3.433,3.433,0,0,0-2.637-4.1c-0.178-.04-0.789-0.18-0.966-0.21a17.961,17.961,0,0,0-11.631,2.5c-18.757,10.72-24.97,14.24-43.731,24.94a9.983,9.983,0,0,0-3.719,13.71,9.84,9.84,0,0,0,2.045,2.48l-2.178,1.24a9.984,9.984,0,0,0-.9,16.82c-5.036,7.01.622,16.6,9.242,15.81a10.151,10.151,0,0,0,15.168,7.61l30.734-17.53-4.074,9.62c-5.558,12.2,10.4,20.39,17.348,10.75,19.912-26.68,21.933-28.46,23.623-34.82h0c0.045-.16.266-0.99,1.518-5.71,0.5-1.87,3.337-3.73,6.025-5.29l6.141-3.51C524.657,1520.54,524.853,1515.09,522.938,1511.2Zm-85.416,103.12a3.46,3.46,0,0,0,3.48-3.44v-18.66a10.149,10.149,0,0,0-13.355-9.53v-2.49a10.163,10.163,0,0,0-14.292-9.17,10.221,10.221,0,0,0-18.478,0,10.142,10.142,0,0,0-14.257,9.17v35.06l-6.4-8.3c-7.858-10.78-23.113-1.38-18.1,9.47,16.145,36.5,13.011,32.04,22.958,41.77,1.389,1.36,1.6,4.73,1.631,7.81,0,0.12-.023,4.78-0.018,4.9,0.171,4.2,2.813,9.09,9.694,9.09,34.312,0,32.453.02,32.751-.02,4.016-.44,8.307-3.26,8.307-9.85-0.006-11.7-.71-9.68,5.779-16.66,1.805-1.94,3.779-6.09,3.774-11.37l-0.011-15.18a3.48,3.48,0,0,0-6.959.01l0.011,15.18a10.7,10.7,0,0,1-2.023,6.8l-4.177,4.49a14.769,14.769,0,0,0-3.357,9.26c0,8.42.5,10.13-1.949,10.47H390.39c-3.332,0-2.739-1.92-2.716-7.15-0.039-4.42-.36-9.4-3.693-12.66-8.746-8.56-5.656-3.87-21.491-39.67a3.075,3.075,0,0,1,1.348-4.15c1.9-1.09,3.5-.13,4.817,1.59l12.677,16.44a3.509,3.509,0,0,0,3.88,1.17,3.436,3.436,0,0,0,2.368-3.25V1580.2a3.185,3.185,0,0,1,6.369-.01v39.37a3.48,3.48,0,0,0,6.959,0c0-19.89,0-43.39,0-44.35a3.2,3.2,0,0,1,6.409,0v44.35a3.48,3.48,0,0,0,6.959,0V1580.2a3.2,3.2,0,0,1,6.408,0v39.36a3.48,3.48,0,0,0,6.96,0v-27.34a3.2,3.2,0,0,1,6.4,0v18.66A3.458,3.458,0,0,0,437.522,1614.32Z' transform='translate%28-287 -1479%29' fill='#{$color-rgb}'/%3E%3C/svg%3E%0A")
    @else if $id == solution-loading
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 108.03 79.95'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eicon-loading%3C/title%3E%3Cpath d='M107.78,30.1a3.71,3.71,0,0,0-3.41-2.32l-12.66-.06A39.9,39.9,0,0,0,76.17,6.84a39.35,39.35,0,0,0-54,9.41A3.77,3.77,0,0,0,23,21.48a3.67,3.67,0,0,0,5.14-.76l0,0A31.9,31.9,0,0,1,72,13,32.45,32.45,0,0,1,83.83,27.69l-9.36-.05h0A3.74,3.74,0,0,0,71.83,34L86.71,49.17l0,0,.08.08.18.16.09.07.2.15.1.06.21.13.09,0,.25.11L88,50l.29.1h0l.32.08h.07l.27,0h.67l.19,0,.15,0,.18,0,.15,0,.18-.06.13,0,.19-.07L91,49.9l.18-.1.1-.06.18-.11.09-.07a4.82,4.82,0,0,0,.43-.36l15-15A3.77,3.77,0,0,0,107.78,30.1ZM85.1,58.49a3.67,3.67,0,0,0-5.14.75l0,0A31.9,31.9,0,0,1,36,66.92,32.45,32.45,0,0,1,24.24,52.27l9.36,0h0a3.75,3.75,0,0,0,2.51-6.49l-14.77-15,0,0a.24.24,0,0,0-.09-.08,1.29,1.29,0,0,0-.17-.16L21,30.44l-.18-.14-.12-.07-.19-.11-.12-.06-.21-.1-.11,0-.25-.09-.09,0-.27-.06h-.1a1.15,1.15,0,0,0-.26,0h-.73l-.2,0-.15,0-.2,0-.15,0-.19.07-.15.06-.17.08-.15.07-.16.1-.14.09-.16.12-.13.1-.17.15-.08.07,0,0h0l-15,15A3.75,3.75,0,0,0,.3,49.86a3.7,3.7,0,0,0,3.41,2.32l12.65.06A39.88,39.88,0,0,0,31.9,73.11a39.29,39.29,0,0,0,54-9.4A3.75,3.75,0,0,0,85.1,58.49Z' fill='#{$color-rgb}' transform='translate%28-0.02 -0.01%29'/%3E%3C/svg%3E")
    @else if $id == graphic-map
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='330.125' height='285.16' viewBox='0 0 330.125 285.16'%3E%3Cmetadata%3E%3C%3Fxpacket begin='﻿' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c140 79.160451, 2017/05/06-01:08:21 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Forma_1' data-name='Forma 1' d='M639.533,759.946a5.671,5.671,0,0,0-5.427-.451l-77.59,34.491L398.225,759.139a5.654,5.654,0,0,0-3.517.356l-79.29,35.247A5.781,5.781,0,0,0,312,800.035V1038.37a5.8,5.8,0,0,0,2.593,4.84,5.7,5.7,0,0,0,3.126.94,5.62,5.62,0,0,0,2.3-.49l77.591-34.49L555.9,1044.02a5.671,5.671,0,0,0,3.517-.36l79.29-35.25a5.78,5.78,0,0,0,3.417-5.29V764.789A5.8,5.8,0,0,0,639.533,759.946ZM533.883,960.024l-34.764-48.372a43.611,43.611,0,0,1,4.376-56.274,42.687,42.687,0,0,1,60.776,0,43.613,43.613,0,0,1,4.377,56.274Zm-125.424,39.7,13.035-13.175,67.949-68.718c0.144,0.207.279,0.418,0.425,0.621l25.926,36.071-55.9,56.528ZM588.128,881.791a54.8,54.8,0,0,0-20.746-39.027l63.307-64.013V964.515l-49.93-50.489A55.573,55.573,0,0,0,588.128,881.791Zm-28.71-76.464,51.419-22.857L557.4,836.5a54.1,54.1,0,0,0-51.147,2.2l-30.78-31.123,15.914-16.092,64.509,14.2A5.645,5.645,0,0,0,559.418,805.327ZM397.61,770.838l80.5,17.722-26.671,26.969a5.827,5.827,0,0,0,0,8.176,5.672,5.672,0,0,0,8.086,0l7.866-7.954,29.6,29.929c-0.531.5-1.063,1-1.581,1.519a55.449,55.449,0,0,0-11.725,60.1l-65.049,65.783L365.219,919.07l68.129-68.9a5.828,5.828,0,0,0,0-8.177,5.673,5.673,0,0,0-8.086,0l-32.343,32.708-69.482-70.261v-0.637ZM323.437,944.969v-53.5l34.944-35.335,26.452,26.747Zm0-69.853V820.8l26.858,27.16Zm0,86.208,33.7-34.077,10.88,11-44.576,45.074v-22Zm0,38.355L376.1,946.427l34.449,34.833-16.822,17-70.289,31.245V999.679Zm233.079,32.641-83.341-18.35L522.6,963.992l6.658,9.264a5.681,5.681,0,0,0,9.251,0l5.276-7.34,49.5,50.054Zm48-21.34-53.924-54.535,23.545-32.762,56.551,57.185v18.478ZM533.883,859.071a27.035,27.035,0,1,0,26.735,27.034A26.916,26.916,0,0,0,533.883,859.071Zm0,42.5a15.471,15.471,0,1,1,15.3-15.47A15.4,15.4,0,0,1,533.883,901.575Zm-97.149-66.129a5.742,5.742,0,0,0,8.456,2.6,5.893,5.893,0,0,0,.869-8.9,5.746,5.746,0,0,0-7.451-.555,5.862,5.862,0,0,0-1.874,6.853C436.873,835.8,436.591,835.1,436.734,835.446Z' fill='#{$color-rgb}' transform='translate%28-312 -759%29'/%3E%3C/svg%3E%0A")
    @else if $id == caret-down
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z' fill='#{$color-rgb}'/%3E%3C/svg%3E%0A") !important               

=box-shadow( $horiz : .5em , $vert : .5em , $blur : 0px , $spread : 0px , $color : #000000 )
  -webkit-box-shadow: $horiz $vert $blur $spread $color
  -moz-box-shadow: $horiz $vert $blur $spread $color
  box-shadow: $horiz $vert $blur $spread $color


=border-radius ( $value: 3px )
  -webkit-border-radius: $value
  -moz-border-radius: $value
  border-radius: $value
  // keeps background from busting out of border 
  -webkit-background-clip: padding-box
  -moz-background-clip: padding
  background-clip: padding-box